.principal {
    margin: 1rem;
}


/* TABLET */
@media screen and (min-width: 769px) {
    .principal {
        margin: 1.5rem 3%;
    }
}


/* NOTEBOOK */
@media screen and (min-width: 1025px) {
    .principal {
        margin: 2rem 5%;
    }
}