.principal {
    margin: 1rem;
}


/* TABLET */
@media screen and (min-width: 769px) {
    .principal {
        margin: 1.5rem 3%;
    }
}


/* NOTEBOOK */
@media screen and (min-width: 1025px) {
    .principal {
        margin: 2rem 5%;
    }
}


/* DESKTOP */
@media screen and (min-width: 1440px) {
    .principal {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        
        margin: 3rem 3%;
    }
}